{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>

<body>
    <!-- <h1>Base of project</h1> -->

    <div class="ecomnav">
        <div class="nav-items">
            <ul>
                <li><a href="/products">Home</a></li>
                
                {% if user.is_authenticated %}
                {% if perms.admin %}
                <li><a href="/dashboard/">Dashboard</a></li>
                <li><a href="/addproducts/">Add Product</a></li>
                {% endif %}

                {% endif %}
                <!-- For url need to define in the urls.py -->
                <ul>
                    {% if user.is_authenticated %}
                    {% if perms.admin %}
                    <a href="/admin/"><h3>Hello Admin,</h3> <i>{{user.email}}</i></a>
                    {% else %}
                        <i>Welcome, <a href="/accounts/">{{user.email}}</a></i>
                    {% endif %}
                    <br>
                    <a href="/signout/" @click.prevent="logout">Signout</a>
                    {% else %}
                    <li><a href="/signin/">Signin</a></li>
                    {% endif %}
                    <li><a href="/cart/">Cart  {{ carts.num_products }}</a></li>
                    <!-- <li><a class="nav-link" href="">{{user.username}}</a></li> -->
                </ul>
            </ul>
        </div>
    </div>

    {% block content %}

    {% endblock%}

</body>

</html>