{% extends 'saw/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
</head>
<body>

    <h1>Cart Details</h1>

    <p>Cart UUID: {{ carts.cart_uuid }}</p>
    <h2>Total Price: {{ carts.total_value }}</h2>
    <p>User : {{ carts.user_uuid }}</p>
    <p>Total items: {{ carts.num_products }}</p>
    <br>


    <i>Products: </i>
    <br>
    {% if cart_items %}
    <table>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Image</th>
            <th></th>

        </tr>
        {% for cart_item in cart_items %}
        <tr>    
            <td>{{ cart_item.product.product_name }}</td>
            <td>{{ cart_item.quantity }}</td>
            <td>{{ cart_item.product.product_price }}</td>
            <td><img src="{% get_media_prefix %}{{ cart_item.product.product_image }}" alt="{{ cart_item.product.product_name }}" height="100px" width="100px"></td>
            <td>
                <a href="/reducefromcart/{{cart_item.product.product_uuid}}"><button>-1</button></a>
                      Qty 
                <a href="/addtocart/{{cart_item.product.product_uuid}}"><button>+1</button></a>
                    /
                <a href="/deletefromcart/{{cart_item.product.product_uuid}}"><button>Delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}

    <a href="/checkout"><button class="pd">Proced to BUY</button></a>

    

    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>





{% endblock %}