@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  font-weight: 600;
}
ecomnav, .nav-items ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(200, 42, 100);
  list-style-type: none;
  
  }
  
  .nav-items li {
    margin: 0 10px;
  }