{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <h1>Banner</h1>
    <div class="banner" id="banner" data-interval="3000">
        {% for img in images %}
            <img data-slide-index="{{ forloop.parentloop.counter0 }}" src="{% static 'images/banner/'|add:img %}" alt="{{ img }}" height="300px">
        {% endfor %}
    </div>


    <div class="clearfix">
        {% for item in productdb_var %}
        <a href="/productdetails/{{ item.product_uuid }}">
            <div class="dummy_product">
                <img src="{% get_media_prefix %}{{ item.product_image }}" alt="{{ item.product_name }}" height="200px" width="200px">
                <h3>{{ item.product_name }} <h3>
                <h4>{{ item.product_price }} rs</h4>
            </div>
        </a>
        {% endfor %}

    </div>

    
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
