{% extends 'saw/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <!-- <h1>Banner</h1> -->
    <div class="banner" id="banner" data-interval="3000">
        {% for img in images %}
            <img data-slide-index="{{ forloop.parentloop.counter0 }}" src="{% static 'images/banner/'|add:img %}" alt="{{ img }}" height="300px">
        {% endfor %}
    </div>

    {% for item in productdb_var %}
    <div class="card">
        
            <div class="item">
                <a href="/productsdetail/{{ item.product_uuid }}/">
                <img src="{% get_media_prefix %}{{ item.product_image }}" alt="{{ item.product_name }}" height="200px" width="200px">
                <h4>{{ item.product_name }} <h4>
                </a>
                <i>{{ item.product_price }} rs</i>
                <br>
                <a href="/addtocart/{{ item.product_uuid }}/"><button>Add to Cart</button></a>
                <a href="/fav/{{ item.product_uuid }}/"><button>Fav</button></a>
                <!-- <input type="radio"  value="F" unchecked /> -->
                
                {% if user.is_authenticated %}
                    {% if perms.admin %}
                    <a href="/editproducts/{{ item.product_uuid }}/"><button>Edit</button></a>
                    <a href="/deleteproducts/{{ item.product_uuid }}/"><button>Delete</button></a>
                        
                    {% endif %}
                {% endif %}
            </div>
        
    </div>
    {% endfor %}
    
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
{% endblock %}